*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}

body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.calculator{
    background:#020617;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 20px cyan;
    width:320px;
}

#display{
    width:100%;
    height:60px;
    background:black;
    color:#00ffcc;
    font-size:30px;
    border:none;
    text-align:right;
    padding:10px;
    border-radius:10px;
    margin-bottom:15px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    padding:20px;
    font-size:20px;
    border:none;
    border-radius:10px;
    background:#1e293b;
    color:white;
    cursor:pointer;
    transition:0.2s;
}

button:hover{
    background:#38bdf8;
    color:black;
}

.operator{
    background:#f97316;
}

.equal{
    grid-row: span 2;
    background:#22c55e;
}

.zero{
    grid-column: span 2;
}

.clear{
    background:#ef4444;
}
